# 2025/07/05 墨鱼 https://github.com/ddgksf2013/Profile/blob/master/ClashVergeforWindows.yaml  𝐡𝐭𝐭𝐩𝐬://𝐭.𝐦𝐞/𝐝𝐝𝐠𝐤𝐬𝐟𝟐𝟎𝟐𝟏
# https://github.com/Aethersailor/Custom_OpenClash_Rules/blob/main/cfg/yaml/Custom_Clash_Selfhosted_Provider_Fallback.yaml

# dns 泄漏解决原理
# https://v2ex.com/t/1137959
# https://github.com/clash-verge-rev/clash-verge-rev/discussions/2526
# https://blog.arisa.moe/blog/2025/250814-best-practice-of-anti-dns-leak/#24-dns


mixed-port: 7890     # HTTP 代理端口
allow-lan: true      # 允许局域网连接
bind-address: "*"    # 地址绑定
mode: rule           # 规则模式
log-level: info      # 日志级别
ipv6: false          # IPV6开关
external-controller: 127.0.0.1:9090

profile:
  store-selected: true
  store-fake-ip: true


dns:
  enable: true
  ipv6: false
  prefer-h3: false

  listen: 0.0.0.0:53 # dns 监听
  enhanced-mode: fake-ip
  use-system-hosts: false
  cache-algorithm: arc
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    # ===== 私有网络 =====
    - "geosite:private"
    - "+.lan"
    - "+.local"

    # ===== Windows 网络连通性检测 =====
    - "+.msftconnecttest.com"
    - "+.msftncsi.com"

    # ===== QQ / 微信快速登录 =====
    - "localhost.ptlogin2.qq.com"
    - "localhost.sec.qq.com"
    - "localhost.work.weixin.qq.com"

    # ===== STUN / 游戏主机 =====
    - "+.srv.nintendo.net"
    - "+.stun.playstation.net"
    - "+.xboxlive.com"
    - "xbox.*.microsoft.com"

    # ===== Battle.net =====
    # - "*.battlenet.com.cn"
    # - "*.battlenet.com"
    # - "*.blzstatic.cn"
    # - "*.battle.net"

    # ===== 按需启用 =====
    # - "+.push.apple.com"
    # - "+.market.xiaomi.com"

  # 用于解析 DNS 服务器自身域名
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29

# ↓ 由 parts/ 注入（dns-balanced / dns-privacy）
{{ DNS_VARIANT }}

#========= 建立锚点 =========#
p:    &p    {type: http,     interval: 86400, health-check: {enable: true, url: http://www.gstatic.com/generate_204, interval: 1800}}   # 订阅 provider 基底
auto: &auto {type: url-test, url: http://www.google.com/generate_204, interval: 1800, tolerance: 50, use: [Subscribe]}                  # 自动测速组基底
sel:  &sel  {type: select}
fall: &fall {type: fallback}                                                                                                       # 普通手选组
usel: &usel {type: select,   use: [Subscribe]}                                                                                         # 手动切换（订阅全列）
a3:   &a3   {type: select,   proxies: [自动选择, 🇭🇰 香港节点, 🇯🇵 日本节点, 🇺🇲 美国节点, 🇨🇳 台湾节点, 🇸🇬 新加坡节点]}  # 加速线路全列表
g1:   &g1   {type: select,   proxies: [🎯 Direct, 加速线路]}                  # 直连优先 + 加速
g2:   &g2   {type: select,   proxies: [🎯 Direct, 加速线路]}                  # 媒体类
g3:   &g3   {type: select,   proxies: [加速线路, 🎯 Direct]}                  # 加速优先
c:    &c    {type: http,     behavior: classical, interval: 86400}                                                                     # classical 规则集基底

proxies:
{{ PRIVATE_PROXIES }}

proxy-providers:
  Subscribe:
    type: http
    url: '{{ SUBSCRIPTION_PROVIDER_URL }}'
    path: ./providers/Subscribe.yaml
    interval: 86400
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 1800

proxy-groups:
#节点分组（订阅按地区自动测速 / 手动切换）
- {name: 加速线路,  <<: *a3, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Proxy.png}
- {name: 自动选择, <<: *auto, exclude-filter: "流量|到期|剩余|官网|过期", icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Auto.png}
# - {name: 🚀 手动切换, <<: *usel, exclude-filter: "流量|到期|剩余|官网|过期"}

#功能分组
- {name: 游戏下载,       <<: *g1, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Game.png}
- {name: SteamCN,      <<: *g1, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Steam.png}
- {name: Steam,        <<: *g1, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Steam.png}
- {name: BiliBili,     <<: *g2, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/bilibili.png}
- {name: PT站加速,      <<: *g2, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Media.png}
- {name: 国内流媒体,     <<: *g2, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/DomesticMedia.png}
- {name: 国外流媒体,     <<: *g3, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/ForeignMedia.png}
# - {name: Adobe,       <<: *sel, proxies: [🎯 Direct, REJECT]}
- {name: 苹果服务,      <<: *g1, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Apple.png}
- {name: 微软服务,       <<: *g1, icon: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/icon/qure/color/Microsoft.png}
- {name: AI服务,        <<: *sel, proxies: [加速线路, 🇭🇰 香港节点], icon: https://raw.githubusercontent.com/Orz-3/mini/master/Color/OpenAI.png}
- {name: 测速工具,       <<: *g1, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Speedtest.png}
- {name: 国外网站,       <<: *g3, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Google_Search.png}
- {name: 隐私广告,       <<: *sel, proxies: [DIRECT, REJECT, 加速线路], icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Advertising.png}
- {name: 🐟 Final,    <<: *g3, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/Final.png}
- {name: 🎯 Direct,    <<: *sel, proxies: [DIRECT], icon: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/icon/qure/color/Direct.png}
- {name: 🇭🇰 香港节点,    <<: *auto, filter: "港|HK|(?i)Hong", hidden: true}
- {name: 🇯🇵 日本节点,    <<: *auto, filter: "日|东京|JP|(?i)Japan", hidden: true}
- {name: 🇺🇲 美国节点,    <<: *auto, filter: "美|US|(?i)States|American", hidden: true}
- {name: 🇨🇳 台湾节点,    <<: *auto, filter: "台|湾|TW|(?i)Taiwan", hidden: true}
- {name: 🇸🇬 新加坡节点,  <<: *auto, filter: "新|坡|SG|(?i)Singapore", hidden: true}
{{ PRIVATE_PROXY_GROUPS }}

rule-providers:
  Direct:         {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Direct/Direct.yaml,                          path: ./rule/Direct.yaml}
  Lan:            {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Lan/Lan.yaml,                                path: ./rule/Lan.yaml}
  Download:       {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Download/Download.yaml,                      path: ./rule/Download.yaml}
  Advertising:    {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Advertising/Advertising_Classical.yaml,      path: ./rule/Advertising_Classical.yaml}
  Hijacking:      {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Hijacking/Hijacking.yaml,                    path: ./rule/Hijacking.yaml}
  Privacy:        {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Privacy/Privacy_Classical.yaml,              path: ./rule/Privacy_Classical.yaml}
  PT:             {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/PrivateTracker/PrivateTracker.yaml,          path: ./rule/PrivateTracker.yaml}
  SteamCN:        {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/SteamCN/SteamCN.yaml,                        path: ./rule/SteamCN.yaml}
  SteamCDN:       {<<: *c, url: https://testingcf.jsdelivr.net/gh/Aethersailor/Custom_OpenClash_Rules/refs/heads/main/rule/Steam_CDN_Classical.yaml,    path: ./rule/Steam_CDN_Classical.yaml}
  Steam:          {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Steam/Steam.yaml,                            path: ./rule/Steam.yaml}
  BiliBili:       {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/BiliBili/BiliBili.yaml,                      path: ./rule/BiliBili.yaml}
  ChinaMedia:     {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/ChinaMedia/ChinaMedia.yaml,                  path: ./rule/ChinaMedia.yaml}
  # Adobe:          {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Adobe/Adobe.yaml,                            path: ./rule/Adobe.yaml}
  GlobalMedia:    {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/GlobalMedia/GlobalMedia_Classical.yaml,      path: ./rule/GlobalMedia_Classical.yaml}
  Apple:          {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Apple/Apple_Classical.yaml,                  path: ./rule/Apple_Classical.yaml}
  Microsoft:      {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Microsoft/Microsoft.yaml,                    path: ./rule/Microsoft.yaml}
  AI:             {<<: *c, url: https://gist.githubusercontent.com/ddgksf2013/cb4121e8b5c5d865cc949cb8120320c4/raw/Ai.yaml,                             path: ./rule/OpenAI.yaml}
  Global:         {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/Global/Global_Classical.yaml,                path: ./rule/Global_Classical.yaml}
  China:          {<<: *c, url: https://cdn.jsdelivr.net/gh/blackmatrix7/ios_rule_script@master/rule/Clash/China/China_Classical.yaml,                  path: ./rule/China_Classical.yaml}

rules:
{{ PRIVATE_RULES }}

# - DOMAIN-SUFFIX,atl-paas.net,国外网站
# - DOMAIN,c.pc.qq.com,DIRECT

# ===== 自定义拦截 =====
# 避免迅雷版权问题
- DOMAIN,hub5idx.v6.shub.sandai.net, REJECT
- DOMAIN,hub5emu.v6.shub.sandai.net, REJECT
- DOMAIN,hub5btmain.v6.shub.sandai.net, REJECT

# ===== 国内优先 =====
- RULE-SET,Direct,🎯 Direct,no-resolve
- RULE-SET,Lan,🎯 Direct,no-resolve
- RULE-SET,Download,🎯 Direct,no-resolve

# ===== 服务分流 =====
- RULE-SET,Advertising,隐私广告,no-resolve
- RULE-SET,Hijacking,隐私广告,no-resolve
- RULE-SET,Privacy,隐私广告,no-resolve
- RULE-SET,PT,PT站加速,no-resolve
- RULE-SET,SteamCDN,🎯 Direct,no-resolve
- RULE-SET,SteamCN,SteamCN,no-resolve
- RULE-SET,Steam,Steam,no-resolve
- RULE-SET,BiliBili,BiliBili,no-resolve
- RULE-SET,ChinaMedia,国内流媒体,no-resolve
- RULE-SET,GlobalMedia,国外流媒体,no-resolve
# - RULE-SET,Adobe,Adobe
- RULE-SET,Apple,苹果服务,no-resolve
- RULE-SET,Microsoft,微软服务,no-resolve
- RULE-SET,AI,AI服务,no-resolve
- GEOSITE,category-ai-!cn,AI服务
- GEOSITE,google-cn,🎯 Direct
- GEOSITE,category-games@cn,🎯 Direct
- GEOSITE,category-game-platforms-download,游戏下载
- GEOSITE,category-public-tracker,🎯 Direct
- GEOSITE,category-speedtest,测速工具

- RULE-SET,Global,国外网站,no-resolve
- RULE-SET,China,🎯 Direct,no-resolve

# ===== IP 最终判断 =====
# ↓ 由 parts/ 注入（geoip-resolve / geoip-no-resolve）
{{ GEOIP_VARIANT }}
- MATCH,🐟 Final
